<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="/images/logoo.png"/>
    <title>BLOGGER</title>
</head>
<body>
    <nav class="navbar new">
        <div class="navbar-container container">
            <input type="checkbox">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
              <li id="home1"><a href="/" class="nav-a">HOME</a></li>
              <li id="about1"><a href="/about" class="nav-a" >ABOUT US</a></li>
              <li id="contact1"><a href="/contact" class="nav-a">CONTACT US</a></li>
              <li><a href="compose" class="nav-a deafult">CREATE BLOG</a></li>
            </ul>
            <h1 class="logo"><i class="fab fa-blogger fa-2x"></i>BLOGGER</h1>
        </div>
    </nav>
