<%- include('partials/header.ejs'); %>
<section id="about-us-home">
    <div class="about-us-home-container container">
        <div class="about-us-home-image">
            <img src="/images/about-us.jpg" alt="about-us-home-iamge">
        </div>
        <div class="about-info-container-text">
            <h2 class="home-about">About Us</h2>
            <p class="about-info-texts">Since 1999, millions of people have expressed themselves on Blogger. From detailed posts about almost every apple variety you could ever imagine to a blog dedicated to the art of blogging itself, the ability to easily share, publish and express oneself on the web is at the core of Blogger’s mission. As the web constantly evolves, we want to ensure anyone using Blogger has an easy and intuitive experience publishing their content to the web.  
                That’s why we’ve been slowly introducing an improved web experience for Blogger. Give the fresh interface a spin by clicking “Try the New Blogger” in the left-hand navigation pane. </p>
            
        </div>
    </div>
</section>
       
      </div>
 </section>
 <section id="about-info">
     <h2 class="about-info-title">Our Community to Bloggers</h2>
     <div class="about-info-container container">
         <div class="about-info-box">
            <div class="customer-photo">
                <i class="far fa-edit fa-5x content"></i>
            <p class="about-name">Content</p>
            </div>
             <p class="about-info-text">We believe that great content should speak for itself and we take pride in helping all photographers showcase their incredible work—it’s at the core of everything we do.</p>
             
             </div>
             <div class="about-info-box">
                <div class="customer-photo">
                    <i class="fas fa-seedling fa-5x content"></i>
                <p class="about-name">Growth</p>
                </div>
                 <p class="about-info-text">The creative journey doesn’t have an end; there’s always room for improvement. We’re committed to creating a platform that challenges you to keep learning, and step outside of your comfort zone.</p>
                 
                 </div>
                 <div class="about-info-box">
                    <div class="customer-photo">
                        <i class="fas fa-sign-language fa-5x content"></i>
                    <p class="about-name">Recognition</p>
                    </div>
                     <p class="about-info-text">You work hard as a blogger and we know the importance of being recognized for your work and skills. We’re constantly building ways to ensure our blogs get the recognition they deserve.</p>
                    
                     </div>
                     </div>
                     
 </section>

<%- include('partials/footer.ejs'); %>
