<%- include('partials/header.ejs'); %>
<section id="contact">
    <div class="contact-container container">
        <div class="contact-image">
            <img src="/images/contact-us.jpg" alt="contact-iamge">
        </div>
        <div class="form-contact-container">
            <h2>Contact Us</h2>
            <form>
            <input type="text" name="" class="contact-input" placeholder="Name"  autocomplete="off" id="" required>
            <input type="email" name="" class="contact-input" placeholder="Email"  autocomplete="off" id="" required>
            <textarea name="" class="contact-textarea" placeholder="Type Your Message Here"  autocomplete="off" id="" cols="30" rows="10" ></textarea>
            <button type="submit" name="" class="btn btn-primary">Submit</button>
        </form>
        <p class="content-contact-us">Have feedback? we'd love to hear it, but please don't share sensitive information!</p>
        </div>
   
</div>
</section>
<%- include('partials/footer.ejs'); %>